header.header
  span.logo Nîmes
  .header__wrapper
    .container
      .header__top
        nav.nav.header__nav
          ul.nav__list
            li.nav__list-item: a.nav__list-link(href="#") Woman
            li.nav__list-item: a.nav__list-link(href="#") Man
            li.nav__list-item: a.nav__list-link(href="#") New
          ul.nav__cart
            li.nav__cart-item
              a.nav__cart-link.nav__cart-link--search(href="#")
            li.nav__cart-item
              a.nav__cart-link.nav__cart-link--cart(href="#")
      .header__middle
        .header__img
          img.header__photo(src="img/matheus-ferrero-G1T-uv4n31U-unsplash.jpg")
          .header__gradient.header__gradient--left
          .header__gradient.header__gradient--right
        .header__slogan The quality you deserve
        .header__name Denim
        button.header__btn Check new collection
