.header__wrapper {
  background-color: $light-bg;
}

.header__middle {
  padding: 0 45px 50px;
  margin-top: 60px;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__img {
  position: relative;
  margin-bottom: 50px;
}

.header__photo {
  position: relative;
  z-index: 5;
}

.header__gradient {
  position: absolute;
  z-index: 4;
  width: 50%;
  height: 30%;

  &--left {
    top: -20px;
    left: -20px;
    background: repeating-linear-gradient(45deg,
        transparent,
        transparent 6px,
        #000000 7px,
        #000000 8px);
  }

  &--right {
    bottom: -20px;
    right: -20px;
    background: repeating-linear-gradient(-45deg,
        transparent,
        transparent 6px,
        #000000 7px,
        #000000 8px);
  }
}

.header__slogan {
  font-size: 1.125rem;
  color: $text-light;
  text-align: center;
  white-space: nowrap;
}

.header__name {
  font-family: "Anton", sans-serif;
  font-size: 5.125rem;
  text-align: center;
  text-transform: uppercase;
}

.header__btn {
  width: 100%;
  padding: 25px 0px;
  @include btn;
}

.header__bottom {
  display: none;
  justify-content: space-between;
  padding-bottom: 45px;
}

.header__down-arrow {
  width: 10px;
  height: 30px;
  background-color: transparent;
  background: url("../img/icons/down.svg") no-repeat center center;
  border: none;
}

.header__social {
  display: flex;
  list-style: none;
}

.header__social-item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.header__social-link {
  color: $text-dark;
  text-decoration: none;
}
