include ../includes/head.pug
body
  include ../includes/header-main.pug
  main.main
    section.bestsellers
      .container
        h2.section-title Bestsellers
        ul.clother-list
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Jacket1.jpg" alt="Jacket")
              a.clother-list__name(href="#") Jacket
            span.clother-list__price $ 120
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Overall1.jpg" alt="Overall")
              a.clother-list__name(href="#") Overalls
            span.clother-list__price $ 140
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Jacket2.jpg" alt="Jacket")
              a.clother-list__name(href="#") Jacket
            span.clother-list__price $ 90
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Overall2.jpg" alt="Overall")
              a.clother-list__name(href="#") Overalls
            span.clother-list__price $ 160
        button.show-more View all
    section.collection
      .container
        .collection__block
          span.collection__desc Street fashion collection
          h2.collection__title Fall 2019
          button.collection__btn Shop now
      picture
        source(media="(min-width: 1366px)" srcset="img/Collection.jpg")
        source(media="(min-width: 768px)" srcset="img/CollectionT.jpg")
        img(src="img/CollectionM.jpg" alt="Fall 2019").collection__img
    section.category
      .container
        h2.section-title Shop by category
        ul.clother-list.category__list
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Jeans.jpg" alt="Jeans")
              a.clother-list__name(href="#") Jeans
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Shirts.jpg" alt="Shirts")
              a.clother-list__name(href="#") Shirts
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Overalls.jpg" alt="Overalls")
              a.clother-list__name(href="#") Overalls
          li.clother-list__item
            a.clother-list__link(href="#")
              img.clother-list__img(src="img/Jackets.jpg" alt="Jackets")
              a.clother-list__name(href="#") Jackets
        button.show-more View all
  include ../includes/footer.pug

