// Tablet 768px

@media (min-width: 768px) {

  // container
  .container {
    padding: 0 45px;
  }

  // header
  .header__middle {
    display: flex;
    justify-content: flex-end;
  }

  .header__img {
    order: 1;
  }

  // footer
  .footer__logo {
    display: block;

    &--mobile {
      display: none;
    }
  }
}
