// Tablet 768px

@media (min-width: 768px) {

  // other
  .section-title {
    font-size: 1.750rem;
    margin-bottom: 60px;
  }

  .show-more {
    position: absolute;
    top: 0;
    right: 45px;
    font-size: 1.125rem;
  }

  section {
    padding: 100px 0;
  }

  // container
  .container {
    padding: 0 45px;
  }

  // header
  .header__middle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30px;
  }

  .header__img {
    width: 45%;
    margin-bottom: 0;
    margin-left: 70px;
    order: 1;
  }

  .header__name {
    font-size: 6.125rem;
    margin-bottom: 30px;
  }

  .header__bottom {
    display: flex;
  }

  // bestsellers

  .bestsellers {
    padding-bottom: 70px;
  }

  // clother-list

  .clother-list__name {
    margin: 25px 0 15px;
    font-size: 1.125rem;
  }

  .clother-list__price {
    font-size: 1rem;
  }

  // collection
  .collection {
    display: flex;

    & .container {
      width: 50%;
      box-sizing: border-box;
      margin-right: 45px;
      padding: 20px;
      padding-left: 0;
      order: 1;
    }

    & picture {
      width: 50%;
      margin-left: 45px;
    }
  }

  .collection__block {
    padding: 40px 35px;
    height: auto;
    box-sizing: border-box;
    text-align: left;
  }

  .collection__title {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  // category
  .category__list li:last-child {
    margin-top: -8%;
  }

  // footer
  .footer__logo {
    display: block;
    text-align: center;

    &--mobile {
      display: none;
    }
  }

  .footer__nav {
    justify-content: center;
    margin-top: 40px;
  }

  .footer__nav-item {
    width: auto;
    margin-bottom: 0;
    margin-right: 35px;

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      margin-right: 0;
      order: 5;
    }
  }

  .social-list {
    justify-content: center;
    margin-top: 40px;
  }
}

// Desktop 1024px

@media (min-width: 1024px) {

  // other
  .section-title {
    font-size: 2rem;
    margin-bottom: 70px;
  }

  .show-more {
    right: 98px;
  }

  // container
  .container {
    padding: 0 98px;
  }

  // clother-list
  .clother-list__item {
    width: 25%;
  }

  .category__list li {
    &:last-child {
      margin-top: 0;
      order: 0;
    }

    &:nth-child(3) {
      order: 1;
    }
  }
}
