// Tablet 768px

@media (min-width: 768px) {

  // container
  .container {
    padding: 0 45px;
  }

  // header
  .header__middle {
    display: flex;
    justify-content: flex-end;
  }

  .header__img {
    order: 1;
  }

  // collection
  .collection {
    display: flex;

    & .container {
      margin-right: 45px;
      padding: 20px;
      padding-left: 0;
      order: 1;
    }

    & picture {
      margin-left: 45px;
    }
  }

  .collection__block {
    padding: 50px 35px 50px 50px;
    text-align: left;
  }

  .collection__title {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  // footer
  .footer__logo {
    display: block;
    text-align: center;

    &--mobile {
      display: none;
    }
  }

  .footer__nav {
    justify-content: center;
    margin-top: 40px;
  }

  .footer__nav-item {
    width: auto;
    margin-bottom: 0;
    margin-right: 35px;

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      margin-right: 0;
      order: 5;
    }
  }

  .social-list {
    justify-content: center;
    margin-top: 40px;
  }
}
