// Fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
// FontAwesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

// Variables
@import "variables.scss";

// Mixins
@mixin btn {
  background-color: $dark;
  border: none;
  font-weight: 700;
  color: #ffffff;
}

// Global
* {
  margin: 0;
  padding: 0;

  & *::selection {
    background: $text-light;
    color: #ffffff;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: $text-dark;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

span {
  display: block;
}

section {
  padding: 60px 0;
}

a:hover, button:hover {
  opacity: $hover-opacity;
}

button {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: $text-dark;
  cursor: pointer;
}

// Other
.logo {
  display: block;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.section-title {
  font-size: 1.625rem;
  margin-bottom: 40px;
}

.show-more {
  display: block;
  margin: 10px auto 0;
  background: none;
  border: none;

  &::after {
    content: "";
    display: block;
    margin-left: -5%;
    width: 110%;
    height: 2px;
    background-color: $dark;
  }
}

// Imports
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/bestsellers.scss";
@import "blocks/clother-list.scss";
@import "blocks/collection.scss";
@import "blocks/category.scss";
@import "blocks/footer.scss";
@import "blocks/social-list.scss";
// Media
@import "media.scss";
